.about {
  padding: 2rem 0;
}

.about__background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
  animation: fade-in 0.65s ease-out forwards;
}

.about__heading {
  animation: fade-in 0.65s ease-out forwards;
}

.about__background {
  color: var(--color-1);
  font: var(--font-style-1);
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  letter-spacing: 0.8px;
  line-height: 1.75rem;
  margin: 1rem 0;
  width: 75%;
}

.about__skills-overview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-overview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.skills-overview__image-container {
  padding-right: 1rem;
  animation: fade-in 0.65s ease-out forwards;
}

.skills-overview__image {
  width: 25rem;
  height: 18.75rem;
}

.skills-overview__details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45vw;
  border-radius: 12px;
  border: 2px solid var(--color-2-light);
  animation: slide-left 0.65s ease-out forwards;
}

.skills-overview__heading {
  color: var(--color-primary);
  background-color: var(--color-2-light);
  text-align: center;
  padding-bottom: 0.25rem;
  font: var(--font-style-heading-1);
  margin: 0 0 1rem;
  padding: 0.75rem 0;
  border-radius: 10px 10px 0 0;
}

.skills-overview__description-container {
  max-width: 100%;
  padding: 0 1rem;
  font: var(--font-style-2);
  margin-bottom: 1rem;
}

.skills-overview__description {
  margin: 0 0 0.5rem;
  letter-spacing: 0.3px;
}

.skills-overview__technologies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.75rem 0;
  border-top: 1.5px solid var(--color-2-light);
  gap: 1rem;
}

.technical__skills {
  margin-top: 1rem;
}

.technical__skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  animation: slide-up 0.65s ease-out forwards;
}

.technical__skills-category-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.75rem;
  padding: 0.5rem 0;
}

.technical__skill-category {
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--font-style-heading-3);
  color: var(--color-primary);
  margin: 0 0 0.65rem;
}

.skills-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding: 0 1.25rem;
  width: fit-content;
}

.skill-box {
  display: flex;
  color: var(--color-primary);
  background-color: var(--color-2-light);
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 0.375rem 0.5rem;
  border-radius: 6px;
}

@media screen and (max-width: 1024px) {
  .about {
    padding-top: 4rem;
  }

  .about__background {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    width: 85%;
  }

  .skills-overview-container {
    flex-direction: column;
    gap: 2rem;
    padding: 0;
  }

  .skills-overview__image-container {
    padding-right: 0;
  }

  .skills-overview__image {
    width: 18rem;
    height: 13.5rem;
  }

  .skills-overview__details-container {
    width: 85%;
    animation: slide-up 0.65s ease-out forwards;
  }

  .skills-overview__heading {
    font-size: 20px;
  }

  .skills-overview__description-container {
    font-size: 15px;
  }

  .skills-overview__technologies-container {
    padding: 0.65rem 0.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about__background {
    font-size: 18px;
  }

  .skills-overview__heading {
    font-size: 22px;
  }

  .skills-overview__details-container {
    width: 100%;
  }

  .skills-overview__description-container {
    font-size: 16px;
  }
}

@media screen and (min-width: 1920px) {
  .about__background {
    width: 55vw;
  }

  .skills-overview__details-container {
    width: 30vw;
  }
}
