.education {
  padding: 4rem 0;
}

.education-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.education__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  animation: fade-in 0.65s ease-out forwards;
}

.education__landing-image {
  width: 29.5rem;
  height: 20rem;
}

.education__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  padding-top: 1.25rem;
  padding-right: 4rem;
  animation: slide-left 0.65s ease-out forwards;
  margin-right: calc(-1 * (100vw - 100%));
}

.education__heading {
  font: var(--font--style-heading-1);
  letter-spacing: 0.75px;
  margin: 0;
  color: var(--color-primary);
}

.education__content {
  margin: 1rem 0 0;
  font: var(--font-style-1);
  letter-spacing: 0.8px;
  line-height: 1.75rem;
  text-align: left;
  color: var(--color-1);
}

.education__degrees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.degrees-heading {
  margin-bottom: 2rem;
}

.education__degrees-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education__degree-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.education__degree-card-image {
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-border-1);
  border-radius: 50%;
  box-shadow: 0px 4px 6px var(--color-border-1);
  animation: slide-right 0.5s ease-out forwards;
}

.education__degree-card-details {
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin: 0 0 0 1rem;
  padding: 1rem 1.5rem;
  border: 1.5px solid var(--color-border-1);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  animation: slide-left 0.5s ease-out forwards;
}

.education__degree-card-details:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

.education__degree-card-headings {
  display: flex;
}

.education__degree-headings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.university-name {
  font: var(--font--style-heading-2);
  color: var(--color-primary);
  margin: 0 0 0.35rem;
}

.degree-name {
  color: var(--color-primary);
  margin: 0;
}

.education__degree-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.education__degree-date-details {
  font: var(--font-style-2);
  margin: 0;
  color: var(--color-4);
}

.education__degree-coursework {
  margin: 1rem 0;
  font: var(--font-style-2);
  color: var(--color-primary);
}

.degree-detail {
  margin: 0 0 1rem;
}

@media screen and (max-width: 768px) {
  .education-container {
    flex-direction: column;
    justify-content: center;
  }

  .education__landing-image {
    margin-top: 2rem;
    width: 20rem;
    height: 13.5rem;
  }

  .education__details {
    width: 75vw;
    margin-top: 1.75rem;
    padding: 0;
    animation: slide-up 0.65s ease-out forwards;
  }

  .education__heading {
    font-size: 30px;
  }

  .education__content {
    margin: 0.5rem 0 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    text-align: center;
  }

  .education__degree-card {
    flex-direction: column;
  }

  .education__degree-card-image {
    animation: slide-up 0.5s ease-out forwards;
  }

  .education__degree-card-details {
    width: 80vw;
    padding: 1rem;
    margin: 1rem 0 0;
    animation: slide-up 0.5s ease-out forwards;
  }

  .education__degree-card-headings {
    flex-direction: column;
    width: 100%;
  }

  .education__degree-headings {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .university-name {
    font-size: 16px;
  }

  .degree-name {
    font-size: 14px;
  }

  .education__degree-date-details {
    font-size: 14px;
  }
}
