.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  overflow: hidden;
}

.home__image {
  text-align: right;
  width: 35%;
  margin-top: -3rem;
  animation: fade-in 1s ease-out forwards;
}

.home__details {
  opacity: 0;
  width: 35%;
  text-align: left;
  margin-top: -3rem;
  animation: slide-left 0.65s ease-out forwards;
}

.profile-image {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 2.5rem;
  letter-spacing: 0.75px;
  margin: 0;
  margin-bottom: 8px;
  color: var(--color-primary);
}

.title {
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: 0.75px;
  margin: 0;
  margin-bottom: 24px;
  color: var(--color-1);
}

.about-me {
  font: var(--font-style-1);
  letter-spacing: 0.8px;
  line-height: 1.75rem;
  color: var(--color-1);
}

.logo-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.logo-link {
  background: transparent;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.logo-link:hover {
  opacity: 0.7;
}

.logo-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.logo-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.logo {
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
  }

  .home__image {
    text-align: center;
  }

  .home__details {
    width: 80%;
    animation: slide-up 0.65s ease-out forwards;
  }

  .profile-image {
    width: 10rem;
    height: 10rem;
  }

  .name {
    font-size: 2rem;
    text-align: center;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
  }

  .about-me {
    text-align: center;
  }

  .logo-container {
    justify-content: center;
  }
}
