.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  overflow: hidden;
}

.home_image {
  animation: fade-in 1s ease-out forwards;
  text-align: right;
  width: 35%;
  margin-top: -3rem;
}

.home_details {
  animation: slide-left 0.65s ease-out forwards;
  opacity: 0;
  width: 35%;
  text-align: left;
  margin-top: -3rem;
}

.profile-image {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 8px;
  color: var(--color-primary);
}

.title {
  font-size: 2rem;
  letter-spacing: 0.5px;
  margin: 0;
  margin-bottom: 24px;
  color: var(--color-1);
}

.about-me {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
}

.logo-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.logo-link {
  background: transparent;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.logo-link:hover {
  opacity: 0.7;
}

.logo-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.logo-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.logo {
  width: 28px;
  height: 28px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
  }

  .home_image {
    text-align: center;
  }

  .home_details {
    width: 80%;
    animation: slide-up 0.65s ease-out forwards;
  }

  .profile-image {
    width: 10rem;
    height: 10rem;
  }

  .name {
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 8px;
    color: var(--color-primary);
    text-align: center;
  }

  .title {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    margin: 0;
    margin-bottom: 24px;
    color: var(--color-1);
    text-align: center;
  }

  .about-me {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
  }

  .logo-container {
    justify-content: center;
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
