.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  overflow: hidden;
}

.home__image {
  text-align: right;
  width: 35%;
  margin-top: -3rem;
  animation: fade-in 0.65s ease-out forwards;
}

.home__details {
  opacity: 0;
  width: 35%;
  text-align: left;
  margin-top: -3rem;
  animation: slide-left 0.65s ease-out forwards;
}

.profile-image {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
  object-fit: cover;
}

.home__name {
  font-size: 36px;
  letter-spacing: 0.75px;
  margin: 0;
  margin-bottom: 8px;
  color: var(--color-primary);
}

.home__title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.75px;
  margin: 0;
  margin-bottom: 1.25rem;
  color: var(--color-1);
}

.about-me {
  font: var(--font-style-1);
  letter-spacing: 0.8px;
  line-height: 1.75rem;
  color: var(--color-1);
  margin: 0 0 1rem;
}

.about-link {
  display: flex;
  align-items: center;
  width: fit-content;
  font: var(--font-style-1);
  color: var(--color-2);
  text-decoration: none;
}

.about-link:hover {
  text-decoration: underline;
}

.about-link:visited {
  color: var(--color-2);
}

.home__right-arrow-icon {
  margin-left: 0.25rem;
}

@media screen and (max-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    height: fit-content;
  }

  .home__image {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .home__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    animation: slide-up 0.65s ease-out forwards;
  }

  .profile-image {
    width: 10rem;
    height: 10rem;
  }

  .home__name {
    font-size: 32px;
    letter-spacing: 0.5px;
    text-align: center;
  }

  .home__title {
    font-size: 24px;
    letter-spacing: 0.5px;
    text-align: center;
  }

  .about-me {
    text-align: center;
  }
}

@media screen and (max-height: 720px) {
  .home-container {
    height: 100vh;
  }
}
