.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--color-background);
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.scrolled {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navbar_menu {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.close-menu {
  display: none;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: center;
  animation: drop-in 0.4s ease-out forwards;
}

.navbar_link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  padding: 8px 12px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.navbar_link:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-1);
  border-radius: 4px;
  z-index: -1;
  transition: background 0.3s ease-in-out;
}

.navbar_link:hover,
.selected {
  background: var(--background-gradient-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

.navbar_icon {
  width: 20px;
  height: 20px;
}

.chatbot-link {
  position: absolute;
  right: 1.5rem;
}

.redirect-icon {
  margin-left: 4px;
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 95vw;
    padding: 1.5rem 0.5rem 0;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    animation: from-side 0.3s ease-out forwards;
  }

  .navbar ul.dropdown-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-top: 5rem;
    padding-left: 4rem;
    top: 0;
    left: 0;
    width: 95vw;
    height: calc(100vh + 1.5rem);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
    z-index: 2000;
    flex-direction: column;
    margin-top: 0;
  }

  .navbar_menu {
    position: absolute;
    margin-top: 1rem;
    left: 8px;
    display: block;
  }

  .close-menu {
    position: fixed;
    display: block;
    right: 2rem;
    z-index: 2100;
  }

  .navbar_link {
    font-size: 18px;
  }

  .navbar_icon {
    width: 24px;
    height: 24px;
  }

  .chatbot-link {
    position: absolute;
    margin-top: 1rem;
    right: 0.25rem;
  }

  @keyframes from-side {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
