.experience {
  padding: 2rem 0;
}

.experience__landing-image {
  margin-top: calc(-1 * 2.5rem);
  width: 20rem;
  height: 20rem;
}

.experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  width: 100vw;
}

.experience__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.experience__card-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 1.5rem 1.5rem 1.5rem 0;
  border: 1px solid var(--color-border-1);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  animation: slide-left 0.5s ease-out forwards;
}

.experience__card-container:hover {
  box-shadow: var(--box-shadow-1);
  transform: translateY(-12px);
}

.experience__card-image {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  width: 10vw;
  animation: slide-right 0.5s ease-out forwards;
}

.experience__card-image a {
  display: flex;
  justify-content: start;
  gap: 0.25rem;
}

.website-redirect {
  width: 0.625rem;
  height: 0.625rem;
  cursor: pointer;
}

.experience__card-details {
  width: 66vw;
}

.experience__card-headings {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-bottom: 0.5rem;
}

.experience__company-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.experience__card-icon {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.experience__card-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font: var(--font-style-heading-3);
  color: var(--color-primary);
  margin: 0 0 0.25rem;
}

.position {
  display: inline-block;
  color: var(--color-white);
  background: var(--background-gradient-3);
  margin: 0 0 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font: var(--font-style-3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.company {
  font: var(--font-style-heading-4);
  margin: 0;
  color: var(--color-1);
}

.experience__card-geotime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.experience__geotime-point {
  font: var(--font-style-2);
  margin: 0;
  color: var(--color-4);
}

.experience__card-info {
  color: var(--color-text);
  font: var(--font-style-2);
  font-weight: 600;
  letter-spacing: 0.15px;
}

.experience__card-summary {
  text-align: justify;
  padding: 0.75rem 0;
  margin: 0 0 0.75rem;
  border-bottom: 1px solid var(--color-border-1);
  border-top: 1px solid var(--color-border-1);
}

.experience__card-techologies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.65rem;
  margin: 0 0 0.25rem;
}

.experience__card-skill-box {
  display: flex;
  width: fit-content;
  background-color: var(--color-2-light);
  font-weight: 600;
  padding: 0.375rem 0.5rem;
  border-radius: 6px;
}

@media screen and (max-width: 1024px) {
  .experience__landing-image {
    margin-top: 0;
  }

  .experience__card-container {
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    padding-bottom: 0.5rem;
  }

  .experience__card-image {
    width: fit-content;
    animation: slide-up 0.5s ease-out forwards;
    margin-bottom: 0.5rem;
  }

  .experience__card-details {
    width: 75vw;
    padding: 1rem;
    animation: slide-up 0.5s ease-out forwards;
  }

  .experience__card-headings {
    flex-direction: column;
  }

  .experience__company-details {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .experience__card-title {
    justify-content: space-between;
  }

  .title {
    margin-bottom: 0.35rem;
  }

  .experience__card-geotime {
    flex-direction: row;
    width: 100%;
  }

  .experience__geotime-point {
    font-size: 14px;
  }

  .experience__card-info {
    font-size: 15px;
  }

  .experience__card-summary {
    text-align: left;
  }
}

@media screen and (min-width: 1920px) {
  .experience__card-image {
    width: 8vw;
  }

  .experience__card-details {
    width: 45vw;
  }
}

@media print {
  .experience__card-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .experience__card-details {
    width: 90vw;
  }
}
