.experience {
  padding: 2rem 0;
}

.experience-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  animation: fade-in 0.65s ease-out forwards;
}

.experience__landing-image {
  width: 20rem;
  height: 20rem;
}

.experience__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  padding-top: 1.25rem;
  padding-right: 4rem;
  animation: slide-left 0.65s ease-out forwards;
  margin-right: calc(-1 * (100vw - 100%));
}

.experience__heading {
  font: var(--font--style-heading);
  letter-spacing: 0.75px;
  margin: 0;
  color: var(--color-primary);
}

.experience__content {
  margin: 1rem 0 0;
  font: var(--font-style-1);
  letter-spacing: 0.8px;
  line-height: 1.75rem;
  text-align: left;
  color: var(--color-1);
}

.experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  width: 100vw;
}

.experience__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.experience__card-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem;
  border: 1px solid var(--color-border-2);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.experience__card-title-container:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.experience__card-title {
  font: var(--font--style-heading-2);
  letter-spacing: 0.75px;
  margin: 0;
  margin-right: 4px;
  color: var(--color-primary);
}

.experience__cards {
  margin-top: 2rem;
}

.experience__card-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.experience__card-image {
  text-align: center;
  width: 12vw;
  animation: slide-right 0.5s ease-out forwards;
}

.experience__card-details {
  margin-left: 4px;
  width: 75vw;
  padding: 1rem 1.5rem;
  border: 1px solid var(--color-border-1);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  animation: slide-left 0.5s ease-out forwards;
}

.experience__card-details:hover {
  box-shadow: var(--box-shadow-1);
  transform: translateY(-3px);
}

.experience__card-headings {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-bottom: 1rem;
}

.experience__company-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.position {
  font: var(--font--style-heading-3);
  color: var(--color-primary);
  margin: 0 0 0.25rem;
}

.company {
  font: var(--font--style-heading-4);
  margin: 0;
  color: var(--color-primary);
}

.experience__card-geotime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.experience__geotime-point {
  font: var(--font-style-2);
  margin: 0;
  color: var(--color-4);
}

.experience__card-point {
  font: var(--font-style-2);
  margin: 0 0 0.5rem;
}

@media screen and (max-width: 768px) {
  .experience-container {
    flex-direction: column;
    justify-content: center;
  }

  .experience__details {
    width: 75vw;
    margin-top: 1.75rem;
    padding: 0;
    animation: slide-up 0.65s ease-out forwards;
  }

  .experience__heading {
    font-size: 32px;
  }

  .experience__content {
    margin: 0.5rem 0 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    text-align: center;
  }

  .experience__card-container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .experience__card-image {
    width: fit-content;
    animation: slide-up 0.5s ease-out forwards;
    margin-bottom: 0.5rem;
  }

  .experience__card-details {
    width: 80vw;
    padding: 1rem;
    animation: slide-up 0.5s ease-out forwards;
  }

  .experience__card-headings {
    flex-direction: column;
  }

  .experience__company-details {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .position {
    font-size: 14px;
    margin-bottom: 0.35rem;
  }

  .company {
    font-size: 14px;
  }

  .experience__card-geotime {
    flex-direction: row;
    width: 100%;
  }

  .experience__geotime-point {
    font-size: 14px;
  }

  .experience__card-point {
    font-size: 14px;
    margin: 0 0 0.5rem;
  }
}
