:root {
  --color-primary: #11295e;
  --color-background: #cddbe0;
  --color-background-1: rgba(205, 219, 224, 0.3);
  --color-background-project-card: #9bcdefd7;
  --color-border-1: #b3b6b96b;
  --color-border-2: #66a5cf;
  --color-border-3: #4a90e2;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #333333;
  --color-1: #11295ec6;
  --color-2: #007bffbe;
  --color-2-light: #007bff29;
  --color-3: #0912298d;
  --color-4: #35557b;
  --color-5: #0d4283;
  --color-6: #94a3b8;

  /* Notification Colors */
  --color-nbc-success: #e8f5e9;
  --color-nb-success: #4caf50;
  --color-nt-success: #2e7d32;
  --color-nbc-failure: #ffebee;
  --color-nb-failure: #f44336;
  --color-nt-failure: #c62828;

  --box-shadow-1: 0 6px 12px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 2px 12px rgba(0, 0, 0, 0.08);

  --background-gradient-1: linear-gradient(to right, #037af2, #133f99);
  --background-gradient-2: linear-gradient(90deg, #3b82f6, #06b6d4);

  --text-shadow: 0 0 10px rgba(59, 130, 246, 0.3);

  --font-style-1: 600 18px / normal 'Nunito', sans-serif;
  --font-style-2: 500 16px / normal 'Nunito', sans-serif;
  --font-style-3: 500 14px / normal 'Nunito', sans-serif;
  --font-style-heading: 600 40px / normal 'Open sans', sans-serif;
  --font-style-heading-1: bold 24px / normal 'Open sans', sans-serif;
  --font-style-heading-2: bold 20px / normal 'Open sans', sans-serif;
  --font-style-heading-3: bold 18px / normal 'Open sans', sans-serif;
  --font-style-heading-4: bold 16px / normal 'Open sans', sans-serif;

  font-family: 'Open sans', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--color-background);
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: #8e9cb037;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #8e9cb0b5;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background: #8e9cb0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  body {
    min-height: fit-content;
  }
}
