:root {
  --color-primary: #001c55;
  --color-background: #dde9ee;
  --color-background-1: rgba(180, 220, 240, 0.4);
  --color-border-1: #d1d5db;
  --color-border-2: #66a5cf;
  --color-border-3: #4a90e2;
  --color-1: #011338c6;
  --color-2: #007bffbe;
  --color-3: #0912298d;
  --color-4: #35557b;
  --color-5: #0d4283;
  --color-6: #999999;

  --background-gradient-1: linear-gradient(to right, #037af2, #133f99);

  --font-style-1: 600 18px / normal 'Nunito', sans-serif;
  --font-style-2: 500 16px / normal 'Nunito', sans-serif;
  --font--style-heading-1: 600 40px / normal 'Open sans', sans-serif;
  --font--style-heading-2: bold 20px / normal 'Open sans', sans-serif;

  font-family: 'Open sans', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--color-background);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  body {
    min-height: fit-content;
  }
}
